QMainWindow {
    background-color: #2A2B2E;
}

QTabWidget {
    border: none;
}

QTabWidget::tab-bar {
    alignment: left;
}

TextEditor {
	border: none;
}

#tabs::pane {
    background-color: #fff;
	border: none;
}

#tree {
    border: none;
    outline: 0;
background-color: #34363A;
color: #fff;
}

QTabWidget {
    border: none;
}

#tabs QTabBar::tab {
    padding: 8px 12px;
    background-color: #2A2B2E;
    border: none;
	color: #999;
}

#tabs QTabBar::tab:selected {
    padding: 8px 12px;
    background-color: #fff;
	color: #000;
}

#statusBar {
    border: none;
}

#split {
    width: 4px;
    border: none;
}

#split::handle {
	image: none;
	background-color: #f1f1f1;
	border-style: solid;
	border-width: 0 1px;
    border-color: #D1D1D4;
}

#sidebarTabs::pane {
	border: none;
}

#sidebarTabs QTabBar::tab {
	padding: 6px 4px;
background-color: #2A2B2E;
color: #fff;
}

#sidebarTabs QTabBar::tab:selected {
	background-color: #34363A;
}

#sidebarTabs QTabBar::tab:hover {
	background-color: #c1c1c1;
}

#sidebarTabs QTabBar::tab {
    border: none;
}

QScrollBar {
     border: none;
     background-color: transparent;
     height: 6px;
     width: 10px;
     margin: 0;
}

QScrollBar::handle {
     min-width: 20px;
     min-height: 20px;
}

QScrollBar::handle {
	background-color: #3498DB;
}

QScrollBar::add-line,  QScrollBar::sub-line {
    background: none;
     border: none;
}

QScrollBar::add-page, QScrollBar::sub-page {
     background: none;
}

/*
QAbstractItemView[objectName="autocomplete"] {
	border: none;
	color: #fff;
	margin: 4px 0;
	background-color: #3d3d3d;
	padding: 2px 4px;
	min-width: 120px;
}
*/

#projects {
	border: 0;
	background-color: #34363A;
	color: #fff;
}